FIREBASE_API_KEY=
FIREBASE_ANDROID_API_KEY=AIzaSyBQQz0sj_q5L2lMpW969CMvO5kpekfITyE
FIREBASE_IOS_API_KEY=AIzaSyA2A1i_uNZEm-qNqyg7-0FEAL90JeYkX-E
FIREBASE_PROJECT_ID=apapane-94356
FIREBASE_MESSAGING_SENDER_ID=712097133007
FIREBASE_STORAGE_BUCKET=apapane-94356.firebasestorage.app
FIREBASE_ANDROID_APP_ID=1:712097133007:android:3f98b153fa4456d4c7e2ba
FIREBASE_IOS_APP_ID=1:712097133007:ios:e3078cee373d3c23c7e2ba
GOOGLE_WEB_SERVER_CLIENT_ID=712097133007-2tiejgepe2djqhluopr4c9efsah5kh6u.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=712097133007-a944nfdcmf1ug7t7b59ee2jqf5umta32.apps.googleusercontent.com
GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.712097133007-a944nfdcmf1ug7t7b59ee2jqf5umta32
SUPPORT_EMAIL=contact@corole.co.jp
PRIVACY_POLICY_URL=https://corole.net/apapane/privacy
TERMS_OF_SERVICE_URL=https://corole.net/apapane/terms
