<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712097133007-u56rlhqrvaukv1birtf3rfjl6qiqlr79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712097133007-u56rlhqrvaukv1birtf3rfjl6qiqlr79</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712097133007-chjhfmout1n8ftof2p0m2d5qb4ur6393.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2A1i_uNZEm-qNqyg7-0FEAL90JeYkX-E</string>
	<key>GCM_SENDER_ID</key>
	<string>712097133007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corole.apapane</string>
	<key>PROJECT_ID</key>
	<string>apapane-94356</string>
	<key>STORAGE_BUCKET</key>
	<string>apapane-94356.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:712097133007:ios:89f2a0613d43cfd7c7e2ba</string>
</dict>
</plist>
